#crab {
  position: absolute;
  top: 60%;
  left: 15%;
  z-index: 20;
}

.anim-box {
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 21;
}

.img-anim {
  width: 20px;
}

.animate {
  position: absolute;
  animation: fade ease-in var(--animation-duration) var(--animation-delay) both;
  z-index: 100;
}

@keyframes fade {
  0% {
    transform: translate(var(--animation-move), -800px);
    opacity: 1;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translate(var(--animation-move), 600px);
    opacity: 0;
  }
}

@keyframes move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 500px;
  }
}
