#crab {
  position: absolute;
  top: 60%;
  left: 15%;
  z-index: 20;
}

#box1 {
  width: 400px;
  height: 50px;
  position: absolute;
  left: 35%;
  right: 25%;
  top: 30%;
  padding: 10px;
}

#box2 {
  width: 400px;
  height: 75px;
  position: absolute;
  left: 35%;
  right: 25%;
  top: 33%;
  padding: 10px;
  background: white;
  z-index: 10;
  /*   filter: blur(10px); */
  animation: move 6s 11s ease-in-out both;
}

#box3 {
  width: 400px;
  height: 75px;
  position: absolute;
  left: 35%;
  right: 25%;
  top: 53%;
  padding: 10px;
  background: white;
  z-index: 10;
  /*   filter: blur(10px); */
  animation: move 6s 13.5s ease-in-out both;
}

.anim-box h1 {
  text-align: center;
}

.img-anim {
  width: 20px;
}

.animate {
  position: absolute;
  animation: fade ease-in var(--animation-duration) var(--animation-delay) both;
  z-index: 100;
}

@keyframes fade {
  0% {
    transform: translate(var(--animation-move), -400px);
    opacity: 1;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translate(var(--animation-move), 600px);
    opacity: 0;
  }
}

@keyframes move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 500px;
  }
}
